{% extends "comptable/ménu.html.twig" %}
{% block body %}
    
<style type="text/css">
        
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:bisque;
  color:black;
}

</style>

  
<div name="droite" style="margin:auto; width:50%;">
    <div name="haut" style="margin: 2 2 2 2 ;height:20%;float:left;"><h1>Validation des Frais</h1></div>	
    <div name="bas" style="margin : 10 2 2 2;clear:left;background-color:EE8844;color:white;height:88%;">
            
    <form name="formValidFrais" method="post" action="enregValidFrais.php">    
   
        <div style="margin: 2 2 2 2 ;height:10%;float:center;">
        <h2>Frais au forfait </h2></div>
        <table style="color:black;" border="1">
            
            {% for unff in ligneff %} 
                     
            <tr><th>Etape</th><th>Km </th><th>Nuitée </th><th>Repas midi</th><th>Situation</th></tr>
                {#{ unff.getFraisforfait()}}
                {# if unff.getFraisforfait().getId()== 4 %#}
            <tr>

                <td>{% if unff.getFraisforfait().id==1 and unff.getFichefrais().id == unff.getFichefrais().id%}
                        {{unff.quantite  }}
                        
                    {% endif %}
                </td>
                {#% elseif unff.getligneff()== 3 %#}
                <td>{% if unff.getFraisforfait().id==2 and unff.getFichefrais().id == unff.getFichefrais().id%}
                        {{unff.quantite  }}
                    {% endif %}
                </td> 
                {#% elseif unff.getFraisforfait()== 1 %#}
                <td>{% if unff.getFraisforfait().id==3 and unff.getFichefrais().id == unff.getFichefrais().id%}
                        {{unff.quantite  }}
                    {% endif %}
                </td>
                {#% elseif unff.getFraisforfait()== 2 %#}
                <td>{% if unff.getFraisforfait().id==4 and unff.getFichefrais().id == unff.getFichefrais().id%}
                        {{unff.quantite  }}
                    {% endif %}
                </td>

                <td> 
                    <select size="3" name="situ">
                        <option value="E">Enregistré</option>
                        <option value="V">Validé</option>
                        <option value="R">Remboursé</option>
                    </select></td>
            </tr>
                    
                
                
            {% endfor %}

        </table>
                    
        
        <div style="margin: 2 2 2 2 ;height:10%;float:center;">
        <h2>Hors Forfait</h2></div>
            {% for lhf in horsforfait %}
            <table style="color:black;" border="1">
                
                <tr><th>Date</th><th>Libellé </th><th>Montant</th><th>Situation</th></tr>
                <tr><td>{{lhf.date|date('Y-m-d')}}</td>
                    <td>{{lhf.libelle}}</td> 
                    <td>{{lhf.montant}}</td>
                    <td> 
                        <select size="3" name="hfSitu1">
                            <option value="E">Enregistré</option>
                            <option value="V">Validé</option>
                            <option value="R">Remboursé</option>
                        </select></td>
                </tr>
            </table>
            {% endfor %}  
            
        <p>
            <div>Nb Justificatifs</div><input type="text" class="zone" size="4" name="hcMontant"/>		
        </p>
        
        </div>
            <p>
                <div>
                    <a href="#" ><button type="button" class="btn btn-warning">Valider</button> </a>
                    <a href="#"><button type="button" class="btn btn-warning">Annuler</button> </a>
                </div>
            </p>
    </form>
</div>

    
{% endblock %}